body{
    margin: 40px;
}

/* NAVIGATION ======================================================================================================== */

.container-nav{
    display: flex; /* Enables flexbox */
    justify-content: space-between; /* Distribute items to the edges */
    align-items: center; /* Center vertically */
}

nav{
    a{
        padding-left: 20px;
    }
}

a:hover{
    font-weight: bold;
}

a, a:visited {
    text-decoration: none;
    color:black;
}

/* HEADER =============================================================================================================== */

.container-webtitle{
    width: 60vw;
    margin: 50px 0px;
}

.container-content{
    margin: 50px 0px;
}

/* CONTENT =============================================================================================================== */

p{
    width: 75vw;
}

/* TEAM MEMBERS ======================================================================================================== */

.team-members{
    display: flex;

    div{
        padding-right: 20px;
    }
}
