/* FONT STYLES*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Antonio:wght@100..700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Siliguri:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ramabhadra&display=swap');

/* BODY */

body {
    margin: 0px;
}

.container-nav{
    padding: 40px 40px 20px 40px;
}

.container-webtitle{
    padding: 0px 160px;
}

.container-content{
    padding: 0px 160px;
}

/* NAVIGATION ========================================================================================================== */

.container-nav {
    display: flex;

    /* Enables flexbox */
    justify-content: space-between;
    /* Distribute items to the edges */
    align-items: center;
    /* Center vertically */

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

nav {
    a {
        padding-left: 30px;
        font-size: 14px;
    }

    @media only screen and (max-width: 768px) {
        padding: 20px;
    }

    @media only screen and (max-width: 480px) {
        padding: 20px;
    }

    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;

}

#nav-nothighlighted {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a:hover {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    /* #nav-nothighlighted{
        color:#000000 !important;
    } */
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

/* HOME BANNER */

#home-banner{
    /* padding:100px; */
    background-image: url('https://ariellebeltran.github.io/with_clarktanquerido/images/spotify-banner.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    
    width: 100%; /* Make the banner span the full viewport width */

    height: 400px; 
    margin: 0 !important;
    padding: 0;
    
}


/* HEADER, H#s, FOOTER =============================================================================================================== */

.container-webtitle {
    /* width: 50vw; */
    padding: 60px 0px 25px 160px;
    /* padding: 0px 40px; */
    /* background-color: #1d1d1d;
    color: white; */
}

.container-content {
    margin: 50px 0px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 75px;
    text-transform: uppercase;
    line-height: 95%;
    width: 78vw;
}

#title-subheader {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    font-size: 40px;
    line-height: 95%;
    width: 60vw;
}

#first-header{
    padding-top: 40px;
}

h2 {

    font-family: "Ramabhadra", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* text-transform: uppercase; */
}

h3 {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 500;
    font-style: normal;
}

h4, h5{
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 300;
    font-style: normal;
}

footer{
    color: #ccc;
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 300;
    font-style: normal;

    text-align: center;

    line-height: 20px;
    padding-top: 50px;
}

#the-space{
    padding:0px 10px;
}

/* CONTENT =============================================================================================================== */

p,
li {
    width: 60vw;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

figcaption {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 300;
    font-style: normal;
}

#scroll-caption {
    padding-top: 5px;
}

/* DATASET IMAGES ====================================================================================================== */

.container-datasetimgs {
    display: grid;
    gap: 20px 0px;
    margin: 0px -40px;

    img {
        width: 43vw;
        /* Keep the natural width */
        height: auto;
        /* Keep the natural height */
    }
}

.item-dataset1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.item-dataset2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
}

/* General styling for scrollable containers */
.scroll-container {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 43vw;
    /* Set container width */
    height: 300px;
    /* Set container height */
    overflow: auto;
    /* Allow scrollbars to appear if needed */
    border: 1px solid #000000;
    /* Optional: Add a border */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
}

/* Dataset4 positioning */
.item-dataset4 {
    grid-column-start: 2;
    grid-column-end: 2;
}

/* Ensure the image respects the container size */
.scroll-container img {
    width: 38vw;
    /* Keep the natural width */
    height: auto;
    /* Keep the natural height */
    display: block;
    /* Avoid inline spacing issues */
}

.item-dataset5 {
    grid-column-start: 1;
    grid-row: 3;
    grid-template-columns: 50vw;
    grid-template-rows: auto;
}

.item-dataset6 {
    grid-column-start: 1;
    grid-row: 4;
}

.item-dataset7 {
    grid-column-start: 2;
    grid-row: 3/5;
}

/* DATASET =================================================================================================================*/
/* 
.content-vis1{ */

/* display: none;
    overflow: hidden;
    background-color: #efefef; */

/* } */

/* .vis1{ */
/* display: block;
    flex-direction: column; */
/* justify-content: center; */
/* width: 100%;
    height: auto; */
/* } */


/* #spotifyDemographicsChart{
    width: 50vw;
    height: 150vh;
} */

#spotifyDemographicsChart,
#spotifyGenresOverTimeChart,
#barChart2013,
#barChart2023 {
    width: 90vw;
    /* 90% of the viewport width */
    height: auto;
    /* Let Vega-Lite determine the height */
    margin: 0 auto;
    /* Center the chart */
    padding: 0px;
    /* Optional padding for styling */
    resize: both;
    /* Allows resizing if needed */
    overflow: auto;
    /* Prevents overflow when resizing */
}

.vis1{
    padding-bottom: 40px;
}

/* TEAM MEMBERS ======================================================================================================== */

.team-members {
    display: flex;

    div {
        padding-right: 20px;
    }

    font-family: "Open Sans",
    sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* IMAGE HOVER =========================================================================================================*/

/* Styling for the word */
.hover-word {
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

/* Hidden image container */
.hover-word .popup-image {
    display: none;
    /* Hide by default */
    position: absolute;
    top: 120%;
    /* Position below the word */
    left: 100%;
    /* left align the image */
    transform: translateX(-50%);
    z-index: 10;
    width: 200px;
    /* Adjust image size */
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Show image on hover */
.hover-word:hover .popup-image {
    display: block;
}

/* MY SLIDES CSS =========================================================================================================*/

/*From W3Schools*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(28, 28, 28);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
    margin-left: -65px;
}

.next{
    margin-right: 45px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(106, 106, 106, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}