/* FONT STYLES*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Antonio:wght@100..700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Siliguri:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ramabhadra&display=swap');

/* BODY */

body {
    margin: 0px;
    /* background-color: #121212; */
    background: white;
}

.container-nav {
    padding: 20px 40px 20px 40px;
}

.container-webtitle {
    padding: 0px 575px;
    /*For 1920px desktop screen etc.*/

    @media only screen and (max-width: 1820px) {
        /*For surface pro screen*/
        padding: 0px 330px;
    }

    @media only screen and (max-width: 1115px) {
        padding: 15px;
    }
}

.container-content {
    padding: 0px 575px;
    /*For 1920px desktop screen etc.*/

    @media only screen and (max-width: 1820px) {
        /*For surface pro screen*/
        padding: 0px 330px;
    }

    @media only screen and (max-width: 1115px) {
        padding: 15px;
    }

    /* @media only screen and (max-width: 480px) {
        padding: 0px;
    } */
}

[class^="vis"] {
    @media only screen and (max-width: 768px) {
        padding: 20px;
    }

    @media only screen and (max-width: 480px) {
        padding: 20px;
    }

    /* width: 100%;
    height: auto; */
}

/* #spotifyUserGenreChart {
    width: 100%;
    height: 100%;
  } */

/* influences canvas size of vegalite  */

/* canvas,
svg.marks {
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
} */

/* prevents warped vegalite canvas*/

canvas.marks {
    /* width: auto !important; */
    height: auto !important;
}

/* NAVIGATION ========================================================================================================== */

.container-nav {
    display: flex;
    justify-content: space-between;
    /* Distribute items evenly */
    align-items: center;
    /* Vertically align items */
    padding: 20px 45px;
    /* Optional: Adjust spacing */
    font-family: Helvetica, Sans-Serif;
    font-size: 18px;
    font-optical-sizing: auto;
    color: white;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.item-nav1 {
    display: flex;
    align-items: center;
    /* Align logo and text vertically */
}

#spotify-logo {
    margin-right: 10px;
    /* Add spacing between logo and text */
}

#sitename-nav {
    font-size: 20px;
    /* Adjust font size if necessary */
}

nav {
    a {
        padding-left: 30px;
        font-size: 16px;
    }

    @media only screen and (max-width: 768px) {
        padding: 20px;
    }

    @media only screen and (max-width: 480px) {
        padding: 20px;
    }

    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 1000;

}

#nav-nothighlighted {
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a:hover {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #1ed760;
    /* color: #0efff3;
    color: #ff320e; */

    /* #nav-nothighlighted{
        color:#000000 !important;
    } */
}

.item-nav2 {

    a,
    a:visited {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}

a,
a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* HOME BANNER */

#home-banner {
    /* padding:100px; */
    background-image: url('https://ariellebeltran.github.io/with_clarktanquerido/images/spotify-banner.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    /* Make the banner span the full viewport width */

    height: 400px;
    margin: 0 !important;
    padding: 0;

}


/* HEADER, H#s, FOOTER =============================================================================================================== */

.container-webtitle {
    /* width: 50vw; */
    padding: 50px 575px 0px 575px;
    /*For 1920px desktop screen etc.*/
    /* padding: 0px 40px; */
    /* background-color: #1d1d1d;
    color: white; */
    background-color: white;

    @media only screen and (max-width: 1820px) {
        /*For surface pro screen*/
        padding: 0px 330px;
    }

    @media only screen and (max-width: 1115px) {
        padding: 15px;
    }

    /* @media only screen and (max-width: 480px) {
        padding: 0px;
    } */
}

.container-content {
    margin: 0px;
}

h1 {
    /* font-family: "Montserrat", sans-serif; */
    font-family: Helvetica, Sans-Serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 48px;
    /* text-transform: uppercase; */
    line-height: 56px;
    width: auto;
    color: black;
}

#title-subheader {
    font-family: "Ramabhadra", sans-serif;

    /* font-family: Helvetica, serif; */
    font-weight: 600;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 95%;
    width: auto;
    text-transform: uppercase;
    color: #1ed760;
}

#title-date {
    margin: 0;
}

#title-buttons {
    margin-top: 40px;
}

.title-button {
    margin-top: 20px;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 13px;
    background-color: #ffffff;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;

    text-transform: uppercase;


    display: inline-flex;
    /* Use inline-flex to ensure flexbox behavior on inline elements */
    flex-direction: row;
    /* Stack svg and text vertically */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    cursor: pointer;
    gap: 7px;
    /* Add spacing between svg and text */
}

/* #first-header {
    padding-top: 40px;
} */

h2 {
    padding-top:15px;
    font-family: "Ramabhadra", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    /* text-transform: uppercase; */
    color: #000000;

 
    @media only screen and (max-width: 1820px) {
        padding-top: 5px !important;
    }

    @media only screen and (max-width: 1115px) {
        padding-top: 5px !important;
    }
}

h3 {
    padding-top:10px;
    margin-bottom: 0px;
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
}

h4,
h5 {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 300;
    font-style: normal;
    color: black;
}

footer {
    color: #ccc;
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 300;
    font-style: normal;

    text-align: center;

    line-height: 20px;
    padding-top: 50px;
}

#the-space {
    padding: 0px 10px;
}

/* CONTENT =============================================================================================================== */

p,
li {
    width: auto;
    font-family: "Open Sans", sans-serif;
    /* font-family: Helvetica, Sans-Serif; */

    font-optical-sizing: auto;
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

figcaption {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 300;
    font-style: normal;
    color: black;
}

#scroll-caption {
    padding-top: 5px;
}

/* DATASET IMAGES ====================================================================================================== */

.container-datasetimgs {
    /* display: grid; */
    gap: 20px 0px;
    margin: 0px -40px;

    img {
        width: 100%;
        /* Keep the natural width */
        height: auto;
        /* Keep the natural height */
    }
}

.item-dataset1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.item-dataset2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
}

/* General styling for scrollable containers */
.scroll-container {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 100%;
    /* Set container width */
    height: 400px;
    /* Set container height */
    overflow: auto;
    /* Allow scrollbars to appear if needed */
    /* border: 1px solid #3d3d3d; */
    /* Optional: Add a border */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
}

.scroll-container.item-vis3{
    height:300px;
}

/* Dataset4 positioning */
.item-dataset4 {
    grid-column-start: 2;
    grid-column-end: 2;
}

/* Ensure the image respects the container size */
.scroll-container img {
    width: 100%;
    /* Keep the natural width */
    height: auto;
    /* Keep the natural height */
    display: block;
    /* Avoid inline spacing issues */
}

.item-dataset5 {
    grid-column-start: 1;
    grid-row: 3;
    grid-template-columns: 50vw;
    grid-template-rows: auto;
}

.item-dataset6 {
    grid-column-start: 1;
    grid-row: 4;
}

.item-dataset7 {
    grid-column-start: 2;
    grid-row: 3/5;
}

/* DATASET =================================================================================================================*/
/* 
.content-vis1{ */

/* display: none;
    overflow: hidden;
    background-color: #efefef; */

/* } */

/* .vis1{ */
/* display: block;
    flex-direction: column; */
/* justify-content: center; */
/* width: 100%;
    height: auto; */
/* } */


/* #spotifyDemographicsChart{
    width: 50vw;
    height: 150vh;
} */

.vis1 img {
    /* padding-bottom: 40px; */
    width: auto !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

/* IMAGES */

.container-content img{
    width: 100%;
}

/* TEAM MEMBERS ======================================================================================================== */

.team-members {
    display: flex;

    div {
        padding-right: 20px;
    }

    font-family: "Open Sans",
    sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* IMAGE HOVER =========================================================================================================*/

/* Styling for the word */
.hover-word {
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

/* Hidden image container */
.hover-word .popup-image {
    display: none;
    /* Hide by default */
    position: absolute;
    top: 120%;
    /* Position below the word */
    left: 100%;
    /* left align the image */
    transform: translateX(-50%);
    z-index: 10;
    width: 200px;
    /* Adjust image size */
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Show image on hover */
.hover-word:hover .popup-image {
    display: block;
}

/* MY SLIDES CSS =========================================================================================================*/

/*From W3Schools*/

* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides0, .mySlides1,
.mySlides2 {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(28, 28, 28);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    margin-left: 0px;
}

.next {
    margin-right: 0px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(106, 106, 106, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 12px;
    padding: 15px 12px 8px 12px;
    margin-bottom: -45px;
    /* position: absolute;
    top: 0; */

    text-align: center;
}

/* The dots/bullets/indicators */
.arrow1Vis3, .arrow1Vis6,
.arrow1Vis7 {
    cursor: pointer;
    height: 23px;
    width: 15px;
    margin: 0 15px;
    /* background-color: #3d3d3d; */
    /* border-radius: 50%; */
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active.arrow1Vis3, .active.arrow1Vis6 {
    color: #999999;
    height: 23px;
    width: 15px;
}

.active.arrow1Vis7 {
    color: #999999;
    height: 23px;
    width: 15px;
}

.arrow1Vis3:hover, .arrow1Vis6:hover,
.arrow1Vis7:hover {
    background-color: #8e8e8e;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Style the container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

/* Hide all charts by default */
.chart {
    display: none;
}

/* Navigation buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    /* background-color: rgba(63, 63, 63, 0.5); */
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: none;
    transform: translate(0, 200%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


/* Style the slider ======================================================================================================= */
/* input[type=range] {
    width: 92%;
    margin: 20px 0;
   
} */

/* Style the slider container */
.slider-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

/* Style the slider ticks container */
.slider-ticks {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 35px;
    /* Adjust this value if needed */
    width: 100%;
}

/* Style the individual slider ticks */
.slider-tick {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-align: center;
}

#currentYear {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    text-align: center;
    color: white;
    margin: 0;
}

/* Style the actual slider =========================================*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 20px 0;
}

/* Style the thumb (handle) */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    margin: -3px;
    background: #ff320e;
    /* Change this to any color you like */
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* input[type=range]::-moz-range-thumb {
    width: 5px;
    height: 5px;
    background: #ff320e; 
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
} */

/* Style the track */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #eeeeee;
    border-radius: 5px;
}

/* input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #ddd;  
    border-radius: 5px;
} */

/* input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;  
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;  
} */


/* doing this cuz im petty, im adding the css for the share button */

#title-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    /* Arrange buttons in a row */
    gap: 10px;
    /* Space between buttons */
}

.title-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
}

.menu.horizontal.social-share {
    list-style: none;
    /* Remove list-style decorations */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.menu.horizontal.social-share li {
    display: inline-block;
    /* Display list items in a row */
    margin-right: 0px;
    /* Space between list items */
}

#share-dropdown {
    display: none;
    /* Hide by default */
    position: absolute;
    background: #fff;
    background-image: url('https://newsroom.spotify.com/wp-content/themes/ftr/assets/images/icons/share-bg.svg');
    background-repeat: no-repeat;
    width: 222px;
    border: 0;
    height: 64px;
    padding: 0;
    z-index: 1000;
    top: -40px;
    /* Position below the button */
    left: 0;
    /* Align with the button */
}

.menu.horizontal.social-share {
    list-style: none;
    /* Remove list-style decorations */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
    display: flex;
    /* Display list items in a row */
    gap: 0px;
    /* Space between list items */
    /*height: 100%;*/
    /* Match the height of the dropdown */
    align-items: center;
    /* Center the items vertically */
}

/* tooltip */
/* Apply to all except #mapVis7 */
:not(#mapVis7, #topSpotifyGenresChart) canvas,
:not(#mapVis7, #topSpotifyGenresChart) svg.marks {
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
    /* other styles */
}

/* Ensure max-width is none for #mapVis7 */
#mapVis7 canvas,
#mapVis7 svg.marks {
    max-width: none !important;
    height: auto !important;
}

/* div#mapVis7.vega-embed.has-actions,
div#taylorVis6.vega-embed.has-actions {
    padding-right: 0 !important;
} */

.vega-embed.has-actions {
    padding-right: 0 !important;
}


div#taylorVis6.vega-embed.has-actions canvas.marks, div#spotifyUsersChart.vega-embed.has-actions canvas.marks {
    width: auto !important;
}
